{% set field_name = name|default('color') %}
{% set picker_id = id|default(field_name) %}
{% set color_value = value|default('#0f766e') %}

<div class="color-picker{{ compact ? ' color-picker--compact' : '' }}" data-color-picker data-initial="{{ color_value }}">
  <input type="hidden" name="{{ field_name }}" value="{{ color_value }}" data-color-value>

  <button
    type="button"
    id="{{ picker_id }}_trigger"
    class="color-picker__trigger"
    data-color-trigger
    aria-label="Escolher cor"
    aria-haspopup="dialog"
    aria-expanded="false"
  >    <span class="color-picker__swatch" data-color-swatch style="background: {{ color_value }}"></span>
    {% if not compact %}
      <span class="color-picker__trigger-label">Escolher cor</span>
    {% endif %}
  </button>

  <div class="color-picker__popover" data-color-popover hidden role="dialog" aria-label="Seletor de cor">
    <div class="color-picker__panel">
      <div class="color-picker__sv" data-color-sv>
        <div class="color-picker__sv-cursor" data-color-sv-cursor></div>
      </div>
      <div class="color-picker__hue-wrap">
        <input type="range" class="color-picker__hue" data-color-hue min="0" max="360" value="0" aria-label="Matiz">
      </div>
      <div class="color-picker__hex-row">
        <label class="color-picker__hex-label" for="{{ picker_id }}_hex">Hex</label>
        <input type="text" id="{{ picker_id }}_hex" class="color-picker__hex" data-color-hex value="{{ color_value }}" maxlength="7" spellcheck="false" autocomplete="off" placeholder="#000000">
        <input type="color" class="color-picker__native" data-color-native value="{{ color_value }}" aria-label="Seletor nativo" tabindex="-1">
      </div>
    </div>
  </div>
</div>
